.vsc-initialized{
    margin: auto;
    text-align: center;
}
.precinct {
    fill: rgb(150, 149, 148);
    stroke: aqua;
}



h1{
}

svg{
    background: rgb(186, 223, 228);
}

.square{
    color: red;
}

.header{
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
    margin: 0 auto;
    height: 100px;
    font-size: 40px;
    justify-content: center;
}


#tooltip {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 16px;
  background-color: turquoise;
  border: 1px solid whitesmoke;
  width: auto;
  color: black;
  opacity: 0.9;
  position: absolute;
  display: none;
}

#primarytype{
    text-decoration: underline;
}

.f{
    color: red;
}

.t{
    color: green;
}



 @-webkit-keyframes pulse 
    {       
        0% {-webkit-transform: translateY(0px); opacity: 1;}
        50% {-webkit-transform: translateY(200px); opacity: 1;}
        100% {-webkit-transform: translateY(0px); opacity: 1;}
    }

.pulse
{
    /* Giving Animation Function */
    -webkit-animation: pulse 1s infinite ;
}

.blur {
    -webkit-filter: blur(10px);
}

.shadow {
-webkit-filter: drop-shadow( 0px 0px 5px white );
        filter: drop-shadow( 0px 0px 5px #000 );
}





